services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    restart: always
    volumes:
      - ./backend:/app
      - static_volume:/app/static
      - media_volume:/app/media
      - db_data:/app/data
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    networks:
      - task_schedule_network

  frontend:
    build:
      context: ./Client
      dockerfile: Dockerfile
      args:
        VITE_API_URL: http://172.16.32.87:8000
    container_name: frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - task_schedule_network

volumes:
  static_volume:
  media_volume:
  db_data:

networks:
  task_schedule_network:
    driver: bridge
